.nav-link.active {
  background-color: #0d6efd !important;
  color: #fff !important;
}

.nav-link:hover {
  background-color: #0b5ed7 !important; /* Slightly darker blue on hover */
  color: #fff !important;
}
